.root {
  width: 100%;
  font-family: 'Poiret One', cursive;
}

.hero {
  background-image: url('../public/images/kate/kate2.jpeg');
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  width: 100%;
  height: 100vh;

  @media only screen and (min-width: 1224px) {
    background-size: 100rem auto;
    background-position: center;
  }

  @media only screen and (min-width: 1500px) {
    background-size: 150rem auto;
  }
}

.heroFade {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(transparent 10%, black 100%);
}

.heroText {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 100%;

  @media only screen and (min-width: 1224px) {
    bottom: 2rem;
  }

  @media only screen and (max-width: 600px) {
    bottom: 1rem;
  }
}

.heading {
  font-size: 7rem;
  margin-bottom: 1rem;

  @media only screen and (max-width: 800px) {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

.subHeadings {
  font-size: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
  }
}

.subHeading {
  padding: 0.5rem;
}

.dash {
  padding: 0 1rem;
  @media only screen and (max-width: 800px) {
    padding: 0;
  }
}
