.art-gallery_root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;

  // @media screen and (max-width: 900px) {
  //   margin-top: 3rem;
  // }
}

.art-gallery_image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45rem;
  width: 80%;
  padding: 1rem;
  margin: 1rem;

  @media screen and (max-width: 900px) {
    height: 25rem;
  }

  @media screen and (max-width: 600px) {
    height: 18rem;
  }
}

.art-gallery_caption {
  color: white;
  margin-top: 0.75rem;
  font-family: 'Poiret One', cursive;
}
